.NetlistPanel {
  > .content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > .net {
      padding: 4px;

      &.highlight {
        background: #448;
      }

      > .attributes {
        display: flex;
        align-items: center;
        gap: 4px;
        //justify-content: space-between;

        > .index {
          font-size: 20px;
          font-family: monospace;
          flex-grow: 0;
          color: #ddf;
        }

        > .name {
          font-size: 18px;
          flex-grow: 1;
          font-weight: bold;
        }
      }
    }
  }
}

.NodeRef {
  background: #333;
  color: #ddd;
  font-weight: bold;
  text-align: center;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
  display: inline-block;

  &.highlight {
    color: #333;
    background: #f74599;
  }
}
