

.segment {
  border: solid 1px black;
  box-sizing: border-box;
}

.segment.horizontal {
  width: calc(2.54mm * 5);
  height: 2.54mm;
}

.segment.vertical {
  width: 2.54mm;
  height: calc(2.54mm * 5);
}

.PowerRow {
  display: flex;
  gap: 2.54mm;
  justify-content: space-around;
}

.MainBlock {
  display: flex;
}

.MainBlock + .MainBlock {
  margin-top: calc(2 * 2.54mm);
}

.Board {
  width: calc(2.54mm * 30);

  margin: 20% auto 0 auto;
}

/* -------------------- */

.AdjustRect > .corner {
  position: absolute;
  background: black;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  border: solid 1px transparent;
  color: white;
}

.AdjustRect > .corner:hover {
  border: solid 1px red;
}

.the-rect {
  background: blue;
  color: #ddf;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 0 0;
}
