.Board {
  
  .segment {
    border: solid 1px black;
    
    box-sizing: border-box;
  }

  .PowerRow {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .MainBlock {
    display: flex;
    justify-content: center;
  }

  .MainBlock + .MainBlock {
    margin-top: 20px;
  }

  .MainBlock + .PowerRow {
    margin-top: 18px;
  }

  .PowerRow + .MainBlock {
    margin-top: 18px;
  }

  .Board {
    width: 660px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Segment {
    display: flex;
    position: relative;
    box-sizing: border-box;
  }

  .Segment.selected {
    outline: solid 2px rgb(255, 9, 157);
  }

  .Segment.highlight {
    > .pin {
      border-color: #f74599;
    }
  }

  .Segment > .label {
    position: absolute;
    background: black;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    display: none;
    text-align: center;
  }

  .Segment.label-pos-top > .label {
    top: -15px;
    left: -2px;
  }

  .Segment.label-pos-top-one-digit > .label { //this keeps the single digit labels from being off center, there is probably a better way to do this
    top: -15px;
    left: 1px;
  }

  .Segment.label-pos-bottom > .label {
    bottom: -15px;
    left: -2px;
  }

  .Segment:hover > .label {
    display: block;
  }

  .Segment.horizontal {
    flex-direction: row;
  }

  .Segment.vertical {
    flex-direction: column;
  }

  .pin {
    width: 8px;
    height: 8px;
    margin: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.399);
    box-sizing: border-box;
  }

  .pin:hover {
    border-color: rgb(255, 237, 119);
  }
}
