.BoardView {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;
  background-color: #424949;
}

.BoardView > .viewarea {
  place-self: start;
  position: relative;
}

.BoardView > .viewarea > video {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.BoardView > .viewarea > .boardrect {
  position: absolute;
  opacity: 0.9;
  transform-origin: 0 0;
}

.BoardView[data-adjust="true"] > .viewarea > .boardrect {
  background: rgba(246, 14, 157, 0.2);
  
}

.BoardView[data-mode="blank"] > .viewarea > .boardrect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BoardView > .viewarea > .buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.BoardView > .viewarea > .boardrect > .ConnectionLayer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.BoardView[data-pin-overlay="false"] .pin {
  opacity: 0;
}

.BoardViewModeSelect {
  color: #ddd;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
}
