.CursorModeIndicator {
  position: absolute;
  box-sizing: border-box;
  background: #BF4040;
  color: #ddd;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 0 8px 8px 8px;
}
