.ImageBoardView {
  flex-grow: 1;
  position: relative;
  background: #424949;

  &[data-busy="true"] {
    opacity: 0.8;
  }

  > svg {
    max-height: 90vh;

    &[data-interaction-mode="connect"] {
      cursor: cell;
    }
  }

  .SelectionInfo {
    position: absolute;
    top: 0;
    left: 16px;
    z-index: 10;

    &.SelectionInfo-enter {
      top: -41px;
    }

    &.SelectionInfo-enter-active {
      top: 0;
      transition: top 200ms;
    }

    &.SelectionInfo-exit {
      top: 0;
    }

    &.SelectionInfo-exit-active {
      top: -41px;
      transition: top 200ms;
    }
  }

  .row {
    opacity: 1;
    fill: #fff;
    stroke: none;
    strokeWidth: 1.01397;

    &:hover {
      fill: #fb8f8f;
    }

    &.selected {
      fill: #8ffb8f;
    }
  }

  .nanoPin {
    opacity: 1;
    fill: #fff;
    fill-rule: evenodd;
    stroke: #000;
    stroke-width: 0.105827;
    stroke-linecap: round;
    stroke-linejoin: round;

    &:hover {
      fill: #fb8f8f;
    }
  }

  .specialFunction {
    opacity: 1;
    fill: #f9f9f9;
    fill-rule: evenodd;
    stroke: #000;
    stroke-width: 0.105827;
    stroke-linecap: round;
    stroke-linejoin: round;

    &:hover {
      fill: #fb8f8f;
    }
  }

  .rail {
    opacity: 1;
    fill: #fff;
    fill-rule: evenodd;
    stroke: #000;
    stroke-width: 0.0993419;
    stroke-linecap: round;
    stroke-linejoin: round;

    &:hover {
      fill: #fb8f8f;
    }
  }

  #railselectionswitch {
    .clickarea {
      opacity: 1;
      fill: gray;
      fill-rule: evenodd;
      stroke: #000;
      stroke-width: 0.171648;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .handle {
      opacity: 1;
      fill: #2e2e2e;
      fill-opacity: 1;
      fill-rule: evenodd;
      stroke: #292929;
      stroke-width: 4.29444;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: none;
      stroke-opacity: 1;
    }

    &:hover .handle {
      stroke: #fb8f8f;
    }
  }

  .connection {
    pointer-events: none;
  }
}

.railSwitchTooltip {
  background: #BF4040;
  color: #ddd;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
}

.rowColor {
  fill: #fb8f8f;
}
