
.Sidebar {
  background: #333;
  left: 0;
  min-width: 330px;
  color: #ddd;

  display: flex;
  flex-direction: column;
  gap: 16px;

  > .panel {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    background: #224;

    > .header {
      padding: 4px 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > .title {
        font-weight: bold;
        font-size: 1.4em;
      }
    }

    > .content {
      padding: 8px 0;

      > table {
        border-collapse: collapse;
        width: 100%;

        tr {
          border: solid 1px #ddd;
        }

        th {
          border: solid 1px #ddd;
        }

        td {
          padding: 4px 8px;
          text-align: center;

          &.name {
            text-align: left;

            > .icon {
              float: right;
            }              

            > input {
              display: block;
              border: none;
              width: auto;
              background: #448;
              color: inherit;
              outline: none;
            }
          }
        }
      }
    }
  }
}

button.icon {
  border: none;
  background: none;
  color: #ddd;
  cursor: pointer;

  &.large {
    font-size: 1.5em;
  }
}
