h1 {
  margin: 0;
}

.Toolbar {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 15px;
  height: 62px;

  background: #333;
  color: #ddd;
}

.Toolbar > .logo {
  display: flex;
  gap: 16px;
  align-items: center;
}
